<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul style="display: flex; flex-wrap: wrap;">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#" id="logout">Logout</a></li>
      </ul>
    </nav>
    <header>
      <h1><a href="/dashboard">Your Dashboard</a></h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer
      style="display: flex; flex-wrap: wrap; justify-content: center;
"
    >
      <a href="/dashboard/new-post">+ New Post</a>
    </footer>
  </body>

  <script src="/javascript/logout.js"></script>
  <script src="/javascript/update.js"></script>
  <script src="/javascript/delete.js"></script>

</html>