<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog - MVC</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <ul style="display: flex; flex-wrap: wrap;">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#" id="logout">Log Out</a></li>
      </ul>
    </nav>
    <header>
      <h1><a href="/dashboard">Your Dashboard</a></h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer
      style="display: flex; flex-wrap: wrap; justify-content: center;
"
    >
      <a href="/dashboard/create">+ New Post</a>
    </footer>
  </body>

  <script src="/js/user/logout.js"></script>

</html>