<div class="post container">
  <div class="container-header">
    <h2>Create New Post</h2>
  </div>
  <form id="create-new-post" class="container-body">
    <label class="form-label" for="post-title">Title</label>
    <input type="text" name="post-title" class="form-input" />
    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" class="form-input"></textarea>
    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/post/create.js"></script>