<div class="container">
  <div class="container-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup" class="container-body">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <button type="submit" id="signup" class="btn">Signup!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/user/signup.jss"></script>